.background-fiche {
    background-color: var(--bg1-color);
    min-height: 100vh;
}

.btn-nav {
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: var(--bg2-color);
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    transition: background-color 0.3s ease; 
    padding: 12px 36px;
    border: 0px;
}

.btn-nav:hover {
    background-color: #23607f;
}

.projet {
    display: flex;
    gap: 32px;
}

.img-projet {
    width: 50%;
}

.img-projet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.desc-projet {
    width: 50%;
}

.desc-projet h3 {
    color: #23607f;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    margin-top: 0px;
}

.list-badge {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0px;
}

.badge {
    background-color: #ff7d75;
    padding: 12px 24px;
    border-radius: 3px;
    color: #fff;
}

.desc-projet h4 {
    color: #23607f;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.desc-projet p {
    font-size: 1.1rem;
    line-height: 1.4rem;
}


@media (max-width: 1024px) {

    .background-fiche {
        height: 100%;
    }
    
}

@media (max-width: 767.98px) {

    .projet {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .img-projet, .desc-projet {
        width: 100%;
    }

    .background-fiche {
        height: 100%;
    }
}
