.list-skills{
    display: flex;
    justify-content: space-between;
}

.list-skills img {
    height: 330px;
}

.list-skills h3 {
    font-size: 1.9rem;
    font-weight: 500;
    color: #23607f;
    letter-spacing: 0.2rem;
    font-variant: small-caps;
    text-align: center;
}

.mind-map{
    display: flex;
    justify-content: center;
    margin : 32px 0px;
}

.link-skills {
    display: block;
    text-align: center;
    padding: 12px;
    font-size: 1.5rem;
    width: 150px;
    background-color: #ff7d75;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    cursor: pointer;
    transition: background-color 0.2s ease; 
}

.link-skills:hover {
    background-color: var(--bg3-color);
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px); /* mouvement vers le haut */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* position finale */
    }
  }
  
  .fade-in-up {
    opacity: 0; 
    animation: fadeInUp 0.6s ease-out forwards; 
  }

  /* Délais pour chaque élément */
.fade-in-up:nth-child(1) {
    animation-delay: 0s; 
  }
  
  .fade-in-up:nth-child(2) {
    animation-delay: 0.2s; /
  }
  
  .fade-in-up:nth-child(3) {
    animation-delay: 0.4s; 
  }
  
/* ------- MEDIA QUERIES --------*/

@media (max-width: 1024px) {

    .list-skills{
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
}

@media (max-width: 767.98px) {

    .list-skills{
        justify-content: center;
    }
    
    .list-skills img {
        height: 250px;
    }  
}