
/* ------ BANNIERE ------- */

.banniere {
    position: relative;
    height : 90vh;
    width: 100%;
}

.banniere img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.bg-parallax {
    transform: translate(-50%, -50%);
     width: 100%;
}

#cloud {
    mix-blend-mode: screen;
}

.cloud-parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sun-parallax {
    position: absolute;
    width: 100%;
    height: 100%;
}