.list-card {
    max-width: 1440px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 70px
}

.card-real {
    width: 380px;
    height: 380px;
    background-color: #fff;
    border-radius: 3px;
    border: 5px solid #d5d5d5;
    overflow: hidden;
    position: relative;
}

.card-real a {
    position: relative;
    display: block;
    height: 100%;
    transition: opacity 0.2s ease; 
}

.card-real a:hover {
    opacity: 0.5;
}

.card-real a p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 16px 12px;
    color: #fff;
    background-color: var(--bg2-color); 
    text-align: center;
    font-size: 18px;
    font-family: 'calibri', sans-serif;
    box-sizing: border-box;
}

.img-real {
    object-fit: cover;
    height: 100%;
}

@media (max-width: 1024px) {

    .list-card {
        margin: 32px 0px;
        display: flex;
        justify-content: space-around;
        gap: 70px
    }

    .card-real {
        width: 300px;
        height: 300px;
        background-color: #fff;
    }
}

@media (max-width: 767.98px) {

    .list-card {
        margin: 32px 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 40px
    }
}
